extends layout

block content
    div.publicEntries
        if( !entries || entries.length == 0 )
            p Engar færslur
        else
            for entry in entries
                div.entry
                    h1 #{entry.title}
                    h2 Skrifað af #{entry.username}
                    h3 #{entry.date}
                    div!= entry.md
                img(src='/img/separator2.png')