extends layout

block content
    p Welcome to #{title}
    p Hér á að koma dagbók með userum og eh svoleiðis
    div.publicEntries
        if( !entries || entries.length == 0 )
            p Engar færslur
        else
		    entries.reverse()
            for entry in entries
                div.entry
                    h1 #{entry.title}
                    h3 #{entry.date}
                    div!= entry.md
                hr(noshade='', size='40', width='50%')