doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  body  
    div
        div#carousel.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li(data-target='#carousel' data-slide-to='0' class='active')
                li(data-target='#carousel' data-slide-to='1' class='active')
        div.carousel-inner(role='list-box')
            div.item.active: img.center-block(src='../public/img/Banner1.png')
            div.item: img.center-block(src='../public/img/Banner2.jpg')
        a.left.carousel-control(href='carousel' role='button' data-slide='previous')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span(sr-only='true') Previous
        a.right.carousel-control(href='carousel' role='button' data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span(sr-only='true') Next
    nav#head
        div#headtitle
            h1= title
        div
            nav.nav.navbar-default
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#') Dagbók/eh
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a(href='/') Heim
                            li
                                a(href='/diary') Dagbók
                        ul.nav.navbar-nav.navbar-right
                            if user
                                li
                                    a(href='/user') #{user.username}
                                li
                                    a(href='/logout') Útskráning
                            else
                                li
                                    a(href='/login') Skrá inn
    div#content
        block content