extends layout

block content
    div.login
        if error
            p Villa við innskráningu
        if errors
            if errors.length
                ul
                    each err in errors
                        li= 'Villa í reitnum '+ err.name
        form( method='post', action='/login' )
            div.form-group
                label( for='user' )
                    | Notendanafn:
                    input.form-control( type='text' id='user' name='user' required autofocus )
            div.form-group
                label( for='pass' )
                    |Lykilorð:
                    input.form-control( type='password' id='pass' name='pass' required )
            button.btn Skrá inn
    a( href='/register' ) Nýskráning