extends layout

block content
    //h1= title
    //p Welcome to #{title}
    //p Hér á að koma dagbók með userum og eh svoleiðis
    div.login
        form( method='post', action='login' )
            if error
                p Villa við innskráningu
            if errors.length
                ul
                    each err in errors
                        li= 'Villa í reitnum '+ err.name
            div.form-group
                label( for='user' )
                    | Notendanafn:
                    input.form-control( type='text' id='user' name='user' required autofocus )
            div.form-group
                label( for='pass' )
                    |Lykilorð:
                    input.form-control( type='password' id='pass' name='pass' required )
            button.btn Skrá inn
    a( href='/register' ) Nýskráning