extends layout

block content
    div.diary.container-fluid
        div.list-group.entries3.col-sm-2
            if( !entries || entries.length == 0 )
                p Engar færslur
            else
                for entry in entries    
                    a.list-group-item( href='/entry?id='+ entry.id )= entry.title
        div.newEntry.col-sm-8.clearfix
            form.form-horizontal( method='post', action='diary' )
                if post                        
                    if error
                        p Villa kom upp við gerð nýrrar færslu
                div.form-group
                    label.col-sm-2.control-label( for='title' )
                        | Titill
                    div.col-sm-8
                        input.form-control( type='text' id='title' name='title' placeholder='Titill')
                div.form-group
                    label.col-sm-2.control-label( for='text' )
                        | Texti                    
                    div.col-sm-8
                        textarea.form-control( rows='5' id='text' name='text' placeholder='Skrifaðu texta hér' ) 
                button.btn.btn-lg.pull-left.btn-primary.glyphicon.glyphicon-ok Skrá færslur